.btn {
  background-color: var(--yellow);
  color: var(--bgDarkGrey);
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 12px 40px;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
